@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --background-color1: #fafaff;
  --background-color2: #ffffff;
  --background-color3: #ededed;
  --background-color4: #cad7fda4;
  --primary-color: #4b49ac;
  --secondary-color: #0c007d;
  --Border-color: #3f0097;
  --one-use-color: #3f0097;
  --two-use-color: #5500cb;
}

body {
  background-color: var(--background-color4);
  max-width: 100%;
  overflow-x: hidden;
}

header {
  height: 70px;
  width: 100vw;
  padding: 0 30px;
  background-color: var(--background-color1);
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.icn,
.menuicn {
  height: 30px;
}

.menuicn {
  cursor: pointer;
}

.notify,
.logosec {
  display: flex;
  align-items: center;
}

.logosec {
  gap: 60px;
}

.notify {
  gap: 40px;
  position: relative;
  cursor: pointer;
}

.circle {
  height: 7px;
  width: 7px;
  position: absolute;
  background-color: #fa7bb4;
  border-radius: 50%;
  left: 19px;
  top: 8px;
}

.dp {
  height: 40px;
  width: 40px;
  background-color: #626262;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.main-container {
  display: flex;
  width: 100vw;
  position: relative;
  top: 70px;
  z-index: 1;
}

.dpicn {
  height: 42px;
}

.main {
  height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 70px 30px 30px 30px;
  background-color: #bddaff;
}

.main::-webkit-scrollbar {
  width: 5px;
}

.main::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.main::-webkit-scrollbar-track {
  background-color: #9e9e9eb2;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.nav {
  min-height: 100vh;
  width: 250px;
  background-color: var(--background-color2);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0 20px 10px;
}

.navcontainer {
  height: calc(100vh - 70px);
  width: 80px;
  position: relative;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
  display: none;
}

.navclose {
  width: 80px;
}

.nav-option {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
}

.nav-option:hover {
  border-left: 5px solid #a2a2a2;
  background-color: #dadada;
  cursor: pointer;
  color: black;
}

.nav-option i {
  font-size: 20px;
}

.nav-img {
  height: 30px;
}

.nav-upper-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.active {
  border-left: 5px solid #010058af;
  background-color: var(--Border-color);
  color: white;
}

.box {
  height: 130px;
  width: 230px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.08);
}

.box:nth-child(1) {
  background-color: var(--one-use-color);
}

.box:nth-child(2) {
  background-color: var(--two-use-color);
}

.box:nth-child(3) {
  background-color: rgb(0, 80, 0);
}

.box:nth-child(4) {
  background-color: rgb(71, 0, 0);
}

.box i {
  font-size: 30px;
}

.box .text {
  color: white;
}

.topic {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.topic-heading {
  font-size: 30px;
  letter-spacing: 3px;
}

.report-container {
  height: 550px;
  max-width: 1200px;
  margin: 70px auto 0;
  background-color: #ffffff;
  border-radius: 30px 0 0 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0 20px 20px;
  overflow-y: auto;
}

.report-container::-webkit-scrollbar {
  width: 5px;
}

.report-container::-webkit-scrollbar-thumb {
  background-color: #8f8df8;
}

.report-container::-webkit-scrollbar-track {
  background-color: #9e9e9eb2;
}

.report-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px;
  border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.recent-Articles {
  font-size: 30px;
  font-weight: 600;
  color: #5500cb;
}

.view {
  height: 35px;
  width: 90px;
  border-radius: 8px;
  background-color: #5500cb;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.report-body {
  max-width: 1160px;
  overflow-x: auto;
  padding: 20px;
}

.report-topic-heading,
.item1 {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.t-op,
.grid-item {
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.item1 {
  margin-top: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.grid-item {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.report-topic-heading .grid-item {
  font-weight: 800;
}

.label-tag {
  text-align: center;
  background-color: rgb(0, 177, 0);
  color: white;
  border-radius: 4px;
  padding: 5px 0;
}

#home {
  width: 100%;
  height: calc(100vh - 100px); /* Ajuste conforme necessário */
  overflow: hidden;
  padding: 20px;
}

/* Seção de Chats */
#chats {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px); /* Ajuste conforme necessário */
  background-color: var(--background-color1);
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.chats-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.contacts-list {
  width: 20%;
  background-color: var(--background-color2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 16px;
  border-right: 1px solid var(--background-color3);
}

.contacts-list h2 {
  font-size: 20px;
  margin-bottom: 16px;
  color: var(--primary-color);
  font-weight: 600;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--background-color3);
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.contact:hover {
  background-color: var(--background-color2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-img {
  height: 40px;
  width: 40px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 12px;
  background-size: cover;
  background-position: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-name {
  font-size: 14px;
  font-weight: 600;
}

.contact-message {
  font-size: 12px;
  color: #888;
}

.chat-area {
  width: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color1);
  padding: 16px;
}

.chat-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--background-color3);
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.chat-header-img {
  height: 40px;
  width: 40px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 12px;
  background-size: cover;
  background-position: center;
}

.chat-header-info {
  display: flex;
  flex-direction: column;
}

.chat-header-info h3 {
  font-size: 16px;
  margin: 0;
  color: var(--primary-color);
  font-weight: 600;
}

.chat-header-info p {
  font-size: 12px;
  color: #888;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  background: var(--background-gradient);
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Mensagens */
.message {
  max-width: 60%; /* Limita a largura máxima */
  width: auto; /* Ajusta a largura ao conteúdo */
  padding: 5px 15px; /* Padding ajustado para um balão mais fino */
  border-radius: 1.5rem; /* Bordas arredondadas mais sutis */
  margin-bottom: 8px; /* Espaço entre as mensagens */
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
  word-wrap: break-word; /* Quebra palavras longas */
  display: flex; /* Usa flexbox para alinhar conteúdo interno */
  flex-direction: column; /* Coloca a hora no final da mensagem */
}

/* Mensagem recebida (alinhada à esquerda) */
.message.received {
  background-color: #e5e5e5; /* Cor de fundo para mensagens recebidas */
  align-self: flex-start; /* Alinha à esquerda */
  margin-right: auto; /* Espaço à direita para centralizar */
}

/* Imagem do remetente para mensagem recebida */
.message.received::before {
  content: "";
  display: block;
  width: 20px; /* Tamanho da imagem reduzido */
  height: 20px; /* Tamanho da imagem reduzido */
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: -25px; /* Posição da imagem ajustada */
  left: 10px; /* Ajuste na posição da imagem */
}

/* Mensagem enviada (alinhada à direita) */
.message.sent {
  background-color: #b5e1ff; /* Cor de fundo para mensagens enviadas */
  align-self: flex-end; /* Alinha à direita */
  margin-left: auto; /* Espaço à esquerda para centralizar */
}

/* Hora de envio */
.message-time {
  font-size: 10px; /* Fonte menor para a hora */
  color: #666666; /* Cor mais suave para a hora */
  margin-top: -2px; /* Distância entre a mensagem e a hora */
  align-self: flex-end; /* Alinha a hora à direita */
}

.chat-input {
  display: flex;
  align-items: center;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--background-color3);
  border-radius: 15px;
  margin-right: 10px;
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.chat-input button i {
  font-size: 1.3rem;
}

.chat-input button:hover {
  background-color: #3f0097;
}

.date-header {
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
  color: #888;
  width: 100%;
}

/* Container do perfil */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 12px; /* Aumentado para um visual mais moderno */
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); /* Sombra mais pronunciada */
  width: 100%;
  max-width: 500px;
  box-sizing: border-box; /* Garantir que o padding não afete o tamanho total */
}

/* Imagem de perfil */
.profile-image-wrapper {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.profile-image-wrapper:hover {
  transform: scale(1.05);
}

#profile-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 4px solid #ddd;
  border-radius: 50%;
}

/* Ícone de câmera sobre a imagem */
.profile-image-wrapper::before {
  content: "\f030";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-image-wrapper:hover::before {
  opacity: 1;
}

/* Estilo para o formulário de perfil */
.profile-form-wrapper {
  width: 100%;
}

/* Estilo para os ícones dentro dos campos de entrada */
.form-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.form-group input, .form-group select {
  padding: 12px;
  padding-left: 40px; /* Espaço para o ícone */
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.form-group i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  z-index: 2;
}

.form-group .select-group select {
  padding-left: 40px; /* Espaço para o ícone */
}

/* Alinhar os selects na mesma linha */
.select-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.select-group .form-group {
  flex: 1;
  min-width: 200px; /* Ajuste conforme necessário */
}

.select-group select {
  width: 100%;
}

/* Estilo para o campo de senha */
.password-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre o input e o botão de alterar senha */
  position: relative; /* Necessário para posicionar o ícone de olho dentro do input */
}

.password-wrapper input {
  flex: 1; /* Permite que o campo de entrada ocupe o espaço disponível */
  padding-right: 40px; /* Espaço para o ícone de mostrar/esconder a senha */
  box-sizing: border-box;
  min-width: 200px; /* Ajuste conforme necessário */
}

.password-wrapper button#toggle-password {
  position: absolute;
  right: 160px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.password-wrapper button#change-password-btn {
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  border-radius: 8px; /* Borda arredondada */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor em forma de mão ao passar sobre o botão */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.password-wrapper button#change-password-btn:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.eye-icon {
  font-size: 20px;
}

/* Estilo para o botão de confirmação */
#confirm-button {
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  border-radius: 8px; /* Borda arredondada */
  padding: 12px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor em forma de mão ao passar sobre o botão */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
  width: 100%; /* O botão ocupa toda a largura disponível */
}

#confirm-button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.input-with-select {
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-select input {
  width: 100%;
  padding-right: 30px; /* Espaço para o botão de seleção */
  box-sizing: border-box;
}

.input-with-select .select-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #000;
}

.select-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 10;
  width: 100%;
}

.select-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: white;
  cursor: pointer;
  text-align: left;
}

.select-menu button:hover {
  background: #f0f0f0;
}